<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".CalometerApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Calometer"
        android:theme="@style/Theme.Calometer">
        <activity
            android:name="com.calometer.android.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Calometer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
